<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      

      <link rel="stylesheet" href="/static/css/style.css">

      <title>AI Image UpScaler</title>
  </head>

  <body>

      <nav class="navbar bg-dark" id="nav_bar">
          <div class="container-fluid">
            <a class="navbar-brand mb-0 1" href="#"> <p>XEN_UPSCALE</p> </a>
          </div>
      </nav>

        
      {% block content %}

      {% endblock content %}

  </body>

</html>