{% extends 'layout.html'%}

{% block content%}

<link rel="stylesheet" href="/static/css/test2.css" type="text/css">


<div class="header2">
    
    <div class="Intro-upload-div2">

        <div class="Intro2">
            <img src="/static/ai3.jpg" alt="">
        </div>

        <div class="upload-div2">
            <img src="/static/ai2.png" alt="">
            askdfjlajfalfjafjalfjdla
        </div>

    </div>

</div>


<script>

    console.log(window.innerHeight);
    console.log(window.innerWidth);


</script>

{% endblock content %}